<div class="wrapper">
  <div class="container">
    <div class="photobanner" style="background-image: url('https://images.unsplash.com/photo-1525626712546-694f3d60f30a?ixlib=rb-1.2.1&auto=format&fit=crop&w=629&q=80')">
      <h2> <%= @spot.name %> </h2>
    </div>

    <div class="spotinfo">
    <h2>Spot Info</h2>
      <div class="ratingmatch">
        <div class="rating">
          <div class="date-rating">
            <% @spot.average_rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
          <p>Average user rating</p>
        </div>
        <div class="match">
          <p> % match </p>
        </div>
      </div>

      <div class="weatherconditions">

      </div>

      <div class="description">
        <h4>Description</h4>
        <p> <%= @spot.description %> </p>
      </div>

      <div class="advice">
        <div class="pro">
          <h4>Do's at this spot:</h4>
            <ul>
          <% @spot.pros.each do |advice| %>
            <li>
              <%= advice.description %>
            </li>
          <% end %>
            </ul>
        </div>
        <div class="con">
          <h4>Don'ts at this spot:</h4>
            <ul>
          <% @spot.cons.each do |advice| %>
            <li>
           <%= advice.description %>
            </li>
          <% end %>
            </ul>
        </div>
      </div>

      <div class="reviews">
        <h4>Reviews</h4>
        <p> Below are the most recent reviews about this spot from fellow kitesurfers </p>
      </div>

      <div class="location">

      </div>
    </div>
  </div>
</div>
