<div class="wrapper">
  <div class="container">
    <div class="photobanner" style="background-image: url('https://images.unsplash.com/photo-1519399224017-87a75eb50df9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')">
      <h2> <%= @spot.name %> </h2>
    </div>

    <div class="spotinfo">

      <div class="ratingmatch">
        <div class="rating">


        </div>
        <div class="match">
          <p> % match </p>
        </div>
      </div>

      <div class="weatherconditions">

      </div>

      <div class="description">
        <%= @spot.description %>
      </div>

      <div class="reviews">

      </div>

      <div class="location">

      </div>
    </div>
  </div>
</div>
