// Define variables for your color scheme

// For example:
$lightblue: #455C7A;
$darkblue: #233142;
$darkgray: #939fa9;
$red: #F95959;
$blue: #167FFB;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$linecolor: #455C7A;

