.form-inputs {
  margin: 80px auto;
  background-color: #ccc;
  padding: 30px;
}
#form-wrap {
  margin: 0px auto;
  background-color: $darkblue;
  padding: 40px;
  height: 100vh;
}
.login-btn{
  height: 35px;
  width: 120px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 0px;
  text-align: center;
  background-color: $darkblue;
  border-radius: 26px;
  margin: 10px 0px 15px 0px;
  transform: scale(1.1);
}

.login-btn:hover{
  background-color: white;
  color: $darkblue;
  transform: scale(1.1);
  border-color: $darkblue;
}

.container-login {
  margin-top: 0px;
  background-color: #ccc;
  padding-bottom: 40px;
  text-align: left;
}

.sign-up a {
  margin: 50px 0;
  padding: 40px 0;
  font-size: 14px;
  color: #233142;
  text-align: left;
  line-height: 2em;
}
.login-dark {
  color: $darkblue;
  padding-bottom: 20px;

}
.form-box{
  background-color: white;
  border-radius: 10px;
}


