.map-logo {
  color: $red;
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 10px;
}
.safe {
  color: white;
  padding: 2px;
}
.bar-top {
  background-color: white;
  opacity: .2;
  position: absolute;
  z-index: 1;
  width: 600px;
  height: 65px;
  filter: blur(2px);
}
.logo-ks {
  position: absolute;
  z-index: 4;
  left: 50%;
  margin-left: -9px;
  bottom: 74px;
  width: 34px;
  height: 34px;
}
