.map-logo {
  color: $red;
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 10px;
}
.safe {
  color: white;
  padding: 2px;
}
.bar-top {
  background-color: white;
  opacity: .2;
  position: absolute;
  z-index: 1;
  width: 600px;
  height: 60px;
  filter: blur(2px);
}
