.form-wrap {
  margin: 0 auto;
  background-color: #ccc;
  padding: 40px;
}

.container-reviews {
  margin-top: -20px;
  background-color: #ccc;
  text-align: left;
}
#review-form label {
  font-size: 1.5em;
  padding: 10px 0px;
  #review_rating option {
    font-size: 5px;
    }
}
.form-wrap h1 {
  margin-left: 30px;
}
