.form-inputs {
  margin: 80px auto;
  background-color: #ccc;
  padding: 30px;
}
.form-wrap {
  margin: 20px auto;
  background-color: #ccc;
  padding: 40px;
}
h1 {
  text-align: center;
}

#review-form label {
  font-size: 1.5em;
  padding: 10px 0px;
  #review_rating option {
    font-size: 5px;
    }
}
.container-difficulties {
  margin-top: -20px;
  background-color: #ccc;
}



