.form-wrap {
  margin: 0 auto;
  background-color: #ccc;
  padding: 40px;
}
h1 {
  text-align: center;
}
.container-reviews {
  margin-top: -20px;
  background-color: #ccc;
}
#review-form label {
  font-size: 1.5em;
  padding: 10px 0px;
  #review_rating option {
    font-size: 5px;
    }
}
