.form-inputs {
  margin: 60px auto;
  background-color: #ccc;
  padding: 30px;
}
// .container_reviews {
//   margin: 60px auto;
//   width: 700px;
//   background-color: red;
//   padding: 30px;
// }
.form-control {
  height: 40px;
}

