.form-inputs {
  margin: 80px auto;
  background-color: #ccc;
  padding: 30px;
}
.form-wrap {
  margin: 0px auto;
  background-color: #ccc;
  padding: 40px;
}
#review-form label {
  font-size: 1.5em;
  padding: 10px 0px;
  #review_rating option {
    font-size: 5px;
    }
}
.container-difficulties {
  margin-top: 0px;
  background-color: #ccc;
  padding-bottom: 40px;
}



