.form-inputs {
  margin: 60px auto;
  background-color: #ccc;
  padding: 30px;
  margin-top: 200px;
}
h1 {
  text-align: center;
}
.container-form {
  background-color: #ccc;
  padding-bottom: 160px;
  margin-top: -60px;
}
