h2 {
  color: white;
}

p {
  color: white;
}

h3 {
  color: white;
}

.pro {
  color: white;
}

.con {
  color: white;
}
.container {
  width: 1400px;
}

.photobanner {
  background-size: cover;
  height: 700px;
  h2 {
    padding: 20px;
  }
}

.spotinfo{
  background-color: $darkblue;
  padding: 20px 15px;
}

.date-rating {
  display: flex;
}

.fas {
  color: #F2F7A4;
}

.ratingmatch {
  display: flex;
  justify-content: space-between;
}
