body {
    margin: 0;
}

h5 {
  padding-bottom: 5px;
}



.line-show{
  border-top: 2px solid #455C7A !important;
  margin-left: 10px;
  margin-right: 10px;
}

.wrapper {
  margin-bottom: 60px;
}

.showcontainer {
  margin: 0;
  padding: 0;
  position: relative;
}

.photobanner {
  position: relative;
  background-size: cover;
  height: 560px;
  position: relative;
}

.spotname {
  padding: 5px 20px;
  position: absolute;
  width: 100%;
  top: 100px;
  left: 20px;
  color: $red;
  text-shadow: 1px 1px rgba(50, 50, 50, 0.3);
  font-size: 3rem;
  font-weight: bold;
}

// spot info with the rating and the match in %
.spotinfo {
  background-color: $darkblue;
  padding-bottom: 0px;
  padding-top: 12px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 75%;
}

.spot-info-h2{
  padding-left:20px;
  padding-top: 15px;
}

.fa-chevron-left{
 position: absolute;
 top: 40px;
 left: 25px;
 font-size: 28px;
 color: $light-gray;
}

.fa-chevron-down{
 position: absolute;
 top: 20px;
 left: 50%;
 font-size: 17px;
 color: $linecolor;
}

.ratingmatch {
  position: relative;
  height: 85px;
  margin-left: 20px;
  margin-right: 20px;
}

.rating {
  position: absolute;
  top: 25px;
  left: 5px;
}

.starsavg {
  display: flex;
  text-align: center;
}

.fa-star {
  color: #F2F7A4;
  margin: 7px 1px;
}

.wave-icon {
  position: absolute;
  top: 25px;
  left: 150px;
}

.wave-text {
  position: absolute;
  top: 55px;
  left: 152px;
  font-size: 14px;
}

.match {
  h2 {
    font-size: 2.4rem;
  }
  .match-number {
    position: absolute;
    right: 20px;
    top: 24px;
  }
  .match-percent {
    position: absolute;
    top: 30px;
    font-size: 15px;
    right: 5px;
  }
  .match-match {
    position: absolute;
    top: 58px;
    right: 23px;
  }
}

#redtogreen {
  color: $lightgreen
}




.icon-text{
  margin-top: 7px;
}

// weatherconditions slider

.arrowright {
  position: relative;
}

.weatherconditions {
  width: 100%;
  height: 95px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;

}

.per-hour {
  display: flex;
  justify-content: space-around;
  min-width: 97vw;
  background-color: $lightblue;
  margin-right: 5px;
  margin-left: 5px;
  // min-height: 80px;
}


.weather {
  height: 90%;
  padding-top: 20px;
  padding-right: 5px;
}

.timetext {
  color: white;
  font-size: 12px;
}

.fa-long-arrow-alt-down {
  color: white;
  font-size: 34px;
}

.fa-wind {
  color: white;
  font-size: 50px;
}

.fa-clock {
  color: white;
  font-size: 35px;
}

.fa-chevron-right {
  position: absolute;
  left: 93vw;
  top: 35px;
  color: $red;
  font-size: 22px;
  font-weight: lighter;
}

// Description
.description {
  margin: 20px 20px;
}

.intro-description {
  margin: 0px 20px;
}


// Advice

.advice {
  margin: 0px 0px;
}

.advice-title {
  margin: 20px 20px;
}

.pro {
  color: white;
  font-weight: lighter;
  margin: 0px 0px;
}


.fa-check {
  color: #5FD084;
  padding-right: 4px;
}

.advice ul {
  list-style-type: none;
  }

.fa-times {
  color: $red;
  padding-right: 7px;
  font-size: 23px;
}

.con {
  color: white;
  font-weight: lighter;
}

// Reviews section

.reviews {
  margin: 20px 20px;
  z-index: 5;
}

.review-intro {
  padding-bottom: 18px;
  margin: 0px 20px;
}

.row {
  margin-bottom: 10px;
}

.avatar-user {
  border: 1px solid white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

.notification {
  background: $lightblue;
  position: relative;
  min-height: 80px;
  width: 100%;
  border-radius: 2px;
}

.review-avatar {
  position: absolute;
  top: 10px;
  left: 0;
}

.review-date {
  position: absolute;
  left: 80px;
  top: 12px;
}
small {
  color: #939fa9;
  font-weight: 600;
}

.review-description {
  position: absolute;
  left: 80px;
  top: 33px;
}

.review-rating {
  position: absolute;
  right: 10px;
  top: 5px;
}

.review-button-box {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}


.review-btn{
  width: 100px;
  height: 40px;
  border: solid 1px $red;
  text-align: center;
  background-color: $darkblue;
  border-radius: 26px;
  margin: 10px 20px 15px 0px;
  text-decoration: none;
  font-weight: 400;
  line-height: 25px;
  font-size: 25px;
  a {
    color: white;
    text-decoration: none;
  }
}

.review-btn:hover{
  background-color:$red;
  transition: background .1s ease-in-out;
  border-color: none;
}


// Location map

.hidden {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

.map-container-show {
  height: 640px;
  z-index: 3;
}










