<div id="mapIndex"
    style="width: 100%;
    height: 91vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  <div class="bar-top">
  </div>
  <h2 class="map-logo">Kite<span class="safe">Safe</span></h2>
</div>


